                                        <!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h3 {text-align: center;}
        .center {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 50%;
        }
    </style>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Steam Recommender</title>
</head>

<body>
    <h3>
         Steam Games for price: ${{ user_input }}
    </h3>

    <div style="text-align: center">
    <a href="{{ url_for('about') }}" >About Page</a>
    </div>

    <div style="text-align: center">
    <a href="{{ url_for('gamenames') }}" >Game list</a>
    </div>

    <a href="{{ url_for('home') }}" align="middle">
        <img src="{{url_for('static', filename='images.jpeg')}}" alt="Steam Logo" style="width:200px;height:100px;" class = 'center'>
    </a>

    <center><form action="/" method=post>
      <dl>
        <input type=text size=20 name=game_name placeholder="game_name">
        <input type=text size=20 name=price placeholder="price">
        <input type=submit value="Recommend" class="btn btn-dark m-2">
      </dl>
    </form></center>

    <hr/>
    <table class="table table-hover">
         <thead>
            <tr>
                <th>rec</th>
                <th>price</th>
            </tr>
         </thead>

         <tbody>
            {% for game in steams %}
               <tr>
                   <td>{{ game.rec }}</td>
                   <td>{{ game.price }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>

</body>
</html>